
/*#region Common Style */

:root {
	--background-color: #f2f2f2;
	--text-color: #262626;
	--text-color-hover: #c05a5a;
	--webkit-scrollbar-color: #d1d0d0;
	--webkit-scrollbar-thumb-color: #000;
}

/* BODY  */
body {
	background-color: var(--background-color);
	font-family: "Noto Sans CJK TC", "Microsoft JhengHei", "PingFang", "STHeiti", sans-serif, serif;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
}

/* 超連結 */
a {
	color: var(--text-color);
	text-decoration: none;
	transition: .2s;
}

/* 超連結:hover */
a:hover {
	color: var(--text-color-hover);
}

/*#endregion Common Style */

/*#region Topbar Style */

/* 導覽列顏色 (scrollTop > 60) */
.topbar-colorful {
	/* 因為是用JS加上去的Class，權重在同層級所以還是選擇加上!important */
	background-color: #d2ccc6 !important;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

/* XXL */
@media (min-width: 1400px) {
	/* 外層 */
	.wrapper {
		width: 75%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		display: none;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		display: none;
	}
}

/* XXL XL LG */
@media (max-width: 1399.98px) and (min-width: 992px) {
	/* 外層 */
	.wrapper {
		width: 85%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		display: none;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		display: none;
	}
}

/* MD以下 */
@media (max-width: 991.98px) {
	/* 外層 */
	.wrapper {
		width: 90%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		position: fixed;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		position: fixed;
		top: 0px;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* 手機板導覽列 */
.mobile-bars, .mobile-bag {
	height: 60px;
	width: 60px;
}

/* 手機版選單圖示 */
.mobile-bars img {
	height: 15px;
}

/* 手機版購物車圖示 */
.mobile-bag img {
	height: 20px;
}

/* 上方導覽列 */
.topbar {
	background-color: #d2ccc6;
	width: 100%;
	height: 60px;
	font-weight: bold;
	display: flex;
	justify-content: center;
    /* position: sticky;  /* 使用sticky達到導覽列永遠固定在最上方的效果 */
    position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	transition: .2s;
	box-shadow: 0px 0px 10px 2px rgba(210, 204, 198, 0.8);  /* 將陰影調整成和首頁背景色相同 */
}

/* 上方導覽列 內層包覆 */
.topbar .wrapper {
	display: flex;
	justify-content: center;
}

/* 導覽列選單 */
.topbar ul {
	list-style: none;
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 左側選單 */
.topbar ul:first-child {
	text-align: left;
}

/* 右側選單 */
.topbar ul:last-child {
	text-align: right;
}

/* 選單項目 */
.topbar li {
	float: left;
	width: 33.3%;
	text-align: center;
	white-space: nowrap;
}

/* 選單項目 a */
.topbar li > a {
	width: 100px;
	text-decoration: none;
	color: var(--text-color);
}

/* 選單項目 a:hover, a:focus, a:active */
.topbar li > a:hover, .topbar li > a:focus, .topbar li > a:active {
	color: var(--text-color-hover);
}

/* 導覽列 LOGO */
.topbar .topbar-logo {
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 網站LOGO */
.topbar .topbar-logo img {
	height: 20px;
}

/* XXL */
@media (min-width: 1400px) {
	/* 選單寬度 */
	.topbar ul {
		width: 25%;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 44%;
	}
}

/* XL LG */
@media (max-width: 1399.98px) and (min-width: 992px) {
	/* 選單寬度 */
	.topbar ul {
		width: 33%;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 30%;
	}
}

/* MD以下 */
@media (max-width: 991.98px){
	/* 選單寬度 */
	.topbar ul {
		display: none;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 100%;
	}
}

/*#endregion Topbar Style  */

/*#region Burger Menu */

/* 當Menu被:target，顯示選單 */
#menu:target {
	display: block;
	-webkit-animation: .2s ease 0s normal forwards 1 fadein;
    animation: .2s ease 0s normal forwards 1 fadein;
}

/* 當Menu被:target，將body的overflow設為hidden */
body:has(#menu:target) {
	overflow: hidden;
}

/* 當Menu被:target，將卷軸隱藏 */
body:has(#menu:target)::-webkit-scrollbar {
	width: 0px;
}

/* 淡入效果 */
@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* 淡入效果 */
@-webkit-keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* 漢堡選單 */
.burger-menu {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	background-color: var(--background-color);
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
	padding: 20px;
	opacity: .0;
	transition: .2s;
}

/* 漢堡選單.active */
.burger-menu.active {
	display: block;
}

/* 選單區塊 */
.menu-wrapper {
	width: calc(100% - 40px);
	height: 100%;
}

/* 關閉按鈕 */
.burger-menu .menu-times {
	width: 100%;
	text-align: right;
}

/* 查詢輸入框 */
.burger-menu .menu-search {
	width: 100%;
	background-color: var(--background-color);
	border: none;
	border-bottom: 3px solid #000;
	padding: 10px 0px;
	font-size: 1.3rem;
}

/* 取消查詢輸入框在被focus時會出現的黑框線 */
.burger-menu .menu-search:focus {
	outline: none;
}

/* 選單區塊 ul */
.burger-menu ul {
	list-style: none;
	padding-left: 0px;
	margin-top: 30px;
}

/* 選單區塊 超連結 */
.burger-menu ul li a {
	display: block;
	width: 100%;
	padding: 15px 0px;
}

/* 選單區塊 超連結:hover */
.burger-menu ul li a:hover {
	display: block;
	width: 100%;
}

/* 選單區塊 超連結:after */
.burger-menu ul li.has-sub a:after {
	content: "";
	background-image: url('../asset/chevron-right.png');
	position: absolute;
	right: 56px;
	margin-top: 3px;
	width: 25px;
	height: 25px;
	background-size: 23px 23px;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	transition: .1s;
}

/* icon旋轉效果 */
/*.burger-menu ul li.has-sub a:hover:after {
	transform: rotate(90deg);
}*/

/*#endregion Burger Menu  */