:root {
	--text-color: #262626;
	--text-color-hover: #c05a5a;
}

/* BODY  */
body {
	background-color: #f2f2f2;
	font-family: Microsoft JhengHei;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
}

/* 超連結 */
a {
	color: var(--text-color);
	text-decoration: none;
	transition: .2s;
}

/* 超連結:hover */
a:hover {
	color: var(--text-color-hover);
}

/* 導覽列顏色 (scrollTop > 60) */
.topbar-colorful {
	background-color: #d2ccc6 !important;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

/* XXL */
@media (min-width: 1400px) {
	/* 外層 */
	.wrapper {
		width: 75%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		display: none;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		display: none;
	}
}

/* XXL XL LG */
@media (max-width: 1399.98px) and (min-width: 992px) {
	/* 外層 */
	.wrapper {
		width: 85%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		display: none;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		display: none;
	}
}

/* MD以下 */
@media (max-width: 991.98px) {
	/* 外層 */
	.wrapper {
		width: 90%;
		position: relative;
	}

	/* 手機版選單按鈕 */
	.mobile-bars {
		position: fixed;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* 手機版購物車按鈕 */
	.mobile-bag {
		position: fixed;
		top: 0px;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* 手機板導覽列 */
.mobile-bars, .mobile-bag {
	height: 60px;
	width: 60px;
}

/* 手機版選單圖示 */
.mobile-bars img {
	height: 15px;
}

/* 手機版購物車圖示 */
.mobile-bag img {
	height: 20px;
}

/* 上方導覽列 */
.topbar {
	background-color: transparent;
	width: 100%;
	height: 60px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	transition: .2s;
}

/* 上方導覽列 內層包覆 */
.topbar .wrapper {
	display: flex;
	justify-content: center;
}

/* XXL */
@media (min-width: 1400px) {
	/* 選單寬度 */
	.topbar ul {
		width: 25%;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 44%;
	}
}

/* XL LG */
@media (max-width: 1399.98px) and (min-width: 992px) {
	/* 選單寬度 */
	.topbar ul {
		width: 33%;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 30%;
	}
}

/* MD以下 */
@media (max-width: 991.98px){
	/* 選單寬度 */
	.topbar ul {
		display: none !important;
	}

	/* LOGO寬度 */
	.topbar .topbar-logo {
		width: 100%;
	}
}

/* 導覽列選單 */
.topbar ul {
	list-style: none;
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 左側選單 */
.topbar ul:first-child {
	text-align: left;
}

/* 右側選單 */
.topbar ul:last-child {
	text-align: right;
}

/* 選單項目 */
.topbar li {
	float: left;
	width: 33.3%;
	text-align: center;
	white-space: nowrap;
}

/* 選單項目 a */
.topbar li > a {
	width: 100px;
	text-decoration: none;
	color: var(--text-color);
}

/* 選單項目 a:hover, a:focus, a:active */
.topbar li > a:hover, .topbar li > a:focus, .topbar li > a:active {
	color: var(--text-color-hover);
}

/* 導覽列 LOGO */
.topbar .topbar-logo {
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 網站LOGO */
.topbar .topbar-logo img {
	height: 20px;
}

/* 首頁跑馬燈 */
.slider {
	height: 100vh;
	width: 100%;
	background-color: #d2ccc6;
	z-index: 1;
	display: flex;
	justify-content: center;
}

/* 首頁跑馬燈 外層 */
.slider .wrapper {
	height: 100%;
	background-image: url('../asset/flower-01.png');
	background-repeat: no-repeat;
	background-size: auto 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* XXL XL LG MS SM */
@media (min-width: 576px) {
	/* 首頁跑馬燈 外層 */
	.slider .wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* XS */
@media (max-width: 575.98px) {
	/* 首頁跑馬燈 外層 */
	.slider .wrapper {
		display: flex;
		justify-content: center;
		align-items: start;
	}
}

/* XXL XL LG */
@media (min-width: 992px) {
	/* 首頁跑馬燈 外層 */
	.slider .wrapper {
		background-size: auto 85vh;
		background-position: right 15% bottom;
	}
}

/* MD */
@media (max-width: 991.98px) and (min-width: 768px) {
	/* 首頁跑馬燈 外層 */
	.slider .wrapper {
		background-size: auto 85vh;
		background-position: right 20px bottom 0px;
	}
}

/* SM XS */
@media (max-width: 767.98px) {
	/* 首頁跑馬燈 包覆 */
	.slider .wrapper {
		width: 100%;
		background-size: auto 70vh;
		background-position: right -40px bottom;
	}
}

/* 首頁跑馬燈 文字區塊 */
.slider .slider-title {
	text-align: center;
}

/* 首頁跑馬燈 h2標題 */
.slider .slider-title h2 {
	line-height: 2.5rem;
	color: var(--text-color);
}

/* 首頁跑馬燈 h3標題 */
.slider .slider-title h3 {
	margin-bottom: 0.5rem;
}

/* 首頁跑馬燈 a */
.slider .slider-title a {
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 0.5rem;
	border-bottom: 4.5px solid #000;
}

/* XXL XL LG MD SM */
@media (min-width: 576px) {
	/* 首頁跑馬燈 h2標題 */
	.slider .slider-title h2 {
		margin-top: 0px;
	}

	/* 首頁跑馬燈 h3標題 */
	.slider .slider-title h3 {
		margin-top: 0px;
	}
}

/* XS */
@media (max-width: 575.98px) {
	/* 首頁跑馬燈 h2標題 */
	.slider .slider-title h2 {
		font-size: 1.8rem !important;
		margin-top:  85px;
	}

	/* 首頁跑馬燈 h3標題 */
	.slider .slider-title h3 {
		font-size: 1.5rem !important;
		margin-top: 245px;
	}
}

/* 網頁內容 */
.content {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* 網頁內容 子區塊 */
.content .areas {
	margin: 8rem 0rem;
	width: 100%;
}

/* 網站形象介紹 */
.content .content-about {
	text-align: center;
}

/* 網站形象介紹 底部水平線 */
.content .about-hr {
	margin-top: 30px;
	border: 3px solid var(--text-color);
	width: 250px;
}

/* 橫向卷軸 */
.content .card-scroll {
	height: 350px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

/* 橫向卷軸-底 */
.card-scroll::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	background-color: #aaa;
}

/* 橫向卷軸*-軸 */
.card-scroll::-webkit-scrollbar-thumb {
	background: #000;
}

/* 捲動區塊 */
.content .card-area {
	width: 1210px;
	height: 350px;
}

/* 商品 */
.card-item {
	width: 280px;
	float: left;
	margin: 0px 15px;
}

/* 取消第一個商品的左外距 */
.card-item:first-child {
	margin-left: 0px;
}

/* 取消最後一個商品的右外距 */
.card-item:last-child {
	margin-right: 0px;
}

/* 商品圖片 */
.card-item img {
	object-fit: cover;
	width: 280px;
	height: 280px;
	margin-bottom: 10px;
}

/* 商品名稱 */
.card-item .item-title .item-name {
	float: left;
}

/* 商品價格 */
.card-item .item-title .item-price {
	float: right;
}

/* 品牌故事 */
.content-story {
	height: 350px;
}

/* 品牌故事圖片區塊 */
.story-image {
	position: relative;
	float: left;
	height: 100%;
}

/* 品牌故事描述 */
.story-description {
	height: 100%;
	float: left;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 60px;
}

/* 品牌故事文字區塊 */
.story-description > div {
	width: 100%;
}

/* XXL */
@media (min-width: 1400px){
	/* 品牌故事圖片區塊 */
	.story-image {
		width: 40%;
	}

	/* 品牌故事描述 */
	.story-description {
		width: calc(60% - 60px);
	}

	/* 品牌故事文字區塊 */
	.story-image > div {
		display: none;
	}
}

@media (max-width: 1399.98px) and (min-width: 768px) {
	/* 品牌故事圖片區塊 */
	.story-image {
		width: 55%;
	}

	/* 品牌故事描述 */
	.story-description {
		width: calc(45% - 60px);
	}

	/* 品牌故事文字區塊 */
	.story-image > div {
		display: none;
	}
}

@media (max-width: 767.98px) {
	/* 品牌故事圖片區塊 */
	.story-image {
		width: 100%;
	}

	/* 品牌故事描述 */
	.story-description {
		display: none;
	}

	/* 品牌故事文字區塊 */
	.story-image > div {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* 品牌故事圖片 */
.story-image img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: left bottom;
}

/* 超連結底部裝飾線 */
a.link-border {
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 0.5rem;
	border-bottom: 4.5px solid #000;
	margin-top: 60px;
}

/* 作品區塊 */
.collections {
	position: relative;
}

/* XXL XL LG MD SM */
@media (min-width: 576px){

	/* 區域卷軸(不顯示) */
	.collections-scroll {
		width: 100%;
		height: 400px;
	}

	/* 作品區塊 */
	.collections-area {
		height: 100%;
		width: 100%;
	}

	/* 左側最大作品區塊 */
	.collections-scroll > .collections-area > .collections {
		position: relative;
		height: 100%;
		width: 50%;
		margin-right: 30px;
		float: left;
	}
	
	/* 作品圖片 */
	.collections img {
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 100%;
	}
	
	/* 作品類型名稱 */
	.collections span {
		position: absolute;
		left: 35px;
		bottom: 35px;
		font-weight: bold;
	}
	
	/* 上下排列包覆容器 */
	.vertical-wrapper {
		height: 100%;
		width: calc(50% - 30px);
		float: left;
	}
	
	/* 作品區塊高度 */
	.vertical-wrapper > .collections {
		height: calc(50% - 15px);
	}
	
	/* 第一個上下排列項目下外距 */
	.vertical-wrapper > .collections:first-child {
		margin-bottom: 30px;
	}
}

/* XS */
@media (max-width: 575.98px){

	/* 區域卷軸(超出即顯示) */
	.collections-scroll {
		width: 100%;
		height: 400px;
		overflow-x: auto;
		overflow-y: hidden;
	}

	/* 卷軸樣式-底 */
	.collections-scroll::-webkit-scrollbar {
		width: 5px;
		height: 10px;
		background-color: #aaa;
	}
	
	/* 卷軸樣式-軸 */
	.collections-scroll::-webkit-scrollbar-thumb {
		background: #000;
	}

	/* 作品區塊 */
	.collections-area {
		height: 400px;
		width: 1170px;
	}

	/* 左側最大作品區塊 */
	.collections-scroll > .collections-area > .collections {
		position: relative;
		height: 100%;
		width: 350px;
		margin-right: 30px;
		float: left;
	}
	
	/* 作品圖片 */
	.collections img {
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 330px;
	}
	
	/* 作品類型名稱 */
	.collections span {
		position: absolute;
		left: 0px;
		bottom: 28px;
		font-weight: bold;
	}
	
	/* 上下排列包覆容器(取消上下排列改為左右排列) */
	.vertical-wrapper {
		height: 100%;
		width: auto;
		float: left;
	}
	
	/* 作品區塊高度 */
	.vertical-wrapper > .collections {
		height: 100%;
		width: 380px;
		float: left;
	}
	
	/* 第一個上下排列項目右外距 */
	.vertical-wrapper > .collections:first-child {
		margin-bottom: 0px;
		margin-right: 30px;
	}
}

/* 頁尾區塊 */
.footer {
	padding: 0rem 0px 3rem 0px;
	display: flex;
	justify-content: center;
}

/* 頁尾區塊 水平線 */
.footer hr {
	border-top: 4.5px solid #000;
	margin-bottom: 3rem;
}

/* 頁尾區塊 選單 */
.footer ul {
	list-style: none;
	padding-left: 0px !important;
	width: auto;
	float: left;
	margin-right: 200px;
}

/* 頁尾區塊 取消最後一個ul右外距 */
.footer ul:last-child {
	margin-right: 0px;
}

/* 頁尾區塊 選單標題 */
.footer ul li:first-child h3 {
	margin-top: 0px;
}

/* 頁尾區塊 選單項目 */
.footer ul li {
	margin: 10px 0px;
}