@charset "UTF-8";
/* 首頁跑馬燈 */
.slider {
  height: 100vh;
  width: 100%;
  background-color: #d2ccc6;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.slider .wrapper { /* 首頁跑馬燈 外層 */
  height: 100%;
  background-image: url("../asset/flower-01.png");
  background-repeat: no-repeat;
}
@media (min-width: 576px) {
  .slider .wrapper { /* XXL XL LG MS SM */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .slider .wrapper { /* XS */
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
@media (min-width: 992px) {
  .slider .wrapper { /* XXL XL LG */
    background-size: auto 85vh;
    background-position: right 15% bottom;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .slider .wrapper { /* MD */
    background-size: auto 85vh;
    background-position: right 20px bottom 0px;
  }
}
@media (max-width: 767.98px) {
  .slider .wrapper { /* SM XS */
    width: 100%;
    background-size: auto 70vh;
    background-position: right -40px bottom;
  }
}
.slider .slider-title { /* 文字區塊 */
  text-align: center;
}
.slider .slider-title h2 { /* h2標題 */
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--text-color);
}
@media (min-width: 576px) {
  .slider .slider-title h2 { /* XXL XL LG MD SM */
    margin-top: 0px;
  }
}
@media (max-width: 575.98px) {
  .slider .slider-title h2 { /* XS */
    margin-top: 85px;
  }
}
.slider .slider-title h3 { /* h3標題 */
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
}
@media (min-width: 576px) {
  .slider .slider-title h3 { /* XXL XL LG MD SM */
    margin-top: 0px;
  }
}
@media (max-width: 575.98px) {
  .slider .slider-title h3 { /* XS */
    margin-top: 245px;
  }
}
.slider .slider-title a { /* a */
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.6rem;
  border-bottom: 3.5px solid #000;
}

/* 網頁內容 */
.content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content .areas { /* 子區塊 */
  margin: 8rem 0rem;
  width: 100%;
}
.content .areas h3:first-child { /* h3 */
  margin-bottom: 40px;
  font-size: 1.9rem;
}
.content .content-about { /* 網站形象介紹 */
  text-align: center;
  line-height: 34px;
}
.content .about-hr { /* 底部水平線 */
  margin-top: 30px;
  border: 2px solid var(--text-color);
  width: 250px;
}
.content .card-scroll { /* 取消橫向卷軸 */ }
@media (min-width: 1920px) {
  .content .card-scroll { /* 螢幕寬度1920px以上 */
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media (max-width: 1919.98px) {
  .content .card-scroll { /* 螢幕寬度1920px以下 */
    height: 350px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.content .card-area { /* 捲動區塊 */ }
@media (min-width: 1920px) {
  .content .card-area { /* 螢幕寬度1920px以上 */
    height: auto;
    width: 100%;
  }
}
@media (max-width: 1919.98px) {
  .content .card-area { /* 螢幕寬度1920px以下 */
    width: 1250px;
    height: 350px;
  }
}
.content .card-scroll::-webkit-scrollbar { /* 橫向卷軸-底 */ }
@media (max-width: 1919.98px) {
  .content .card-scroll::-webkit-scrollbar { /* 螢幕寬度1920px以下 */
    width: 5px;
    height: 10px;
    background-color: var(--webkit-scrollbar-color);
  }
}
.content .card-scroll::-webkit-scrollbar-thumb { /* 橫向卷軸*-軸 */ }
@media (max-width: 1919.98px) {
  .content .card-scroll::-webkit-scrollbar-thumb { /* 螢幕寬度1920px以下 */
    background: var(--webkit-scrollbar-thumb-color);
  }
}

/* 商品 */
.card-item {
  /* 商品圖片 */
}
@media (min-width: 1920px) {
  .card-item { /* 螢幕寬度1920px以上 */
    width: calc((100% - 120px) / 4);
    float: left;
    margin: 0px 20px;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 1919.98px) {
  .card-item { /* 螢幕寬度1920px以下 */
    width: 280px;
    float: left;
    margin: 0px 20px;
  }
}
@media (min-width: 1920px) {
  .card-item img { /* 螢幕寬度1920px以上 */
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1919.98px) {
  .card-item img { /* 螢幕寬度1920px以下 */
    -o-object-fit: cover;
       object-fit: cover;
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
  }
}
.card-item .item-title { /* 商品標題 */ }
.card-item .item-title .item-name { /* 商品名稱 */
  float: left;
  font-weight: bold;
}
.card-item .item-title .item-price { /* 商品價格 */
  float: right;
  font-weight: bold;
}

/* 取消第一個商品的左外距 */
@media (min-width: 1920px) {
  .card-item:first-child { /* 螢幕寬度1920px以上 */
    margin-left: 0px;
  }
}
@media (max-width: 1919.98px) {
  .card-item:first-child { /* 螢幕寬度1920px以下 */
    margin-left: 0px;
  }
}

/* 取消最後一個商品的右外距 */
@media (min-width: 1920px) {
  .card-item:last-child { /* 螢幕寬度1920px以上 */
    margin-right: 0px;
  }
}
@media (max-width: 1919.98px) {
  .card-item:last-child { /* 螢幕寬度1920px以下 */
    margin-right: 0px;
  }
}

/* 品牌故事 */
.content-story {
  height: 350px;
}
@media (min-width: 1920.01px) {
  .content-story { /* 螢幕寬度1920px以上 */
    height: 450px;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .content-story { /* XXL */
    height: 350px;
  }
}

/* 品牌故事圖片區塊 */
.story-image {
  position: relative;
  float: left;
  height: 100%;
}
@media (min-width: 1920.01px) {
  .story-image { /* 螢幕寬度1920px以上 */
    width: 55%;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .story-image { /* XXL */
    width: 50%;
  }
}
@media (max-width: 1399.98px) and (min-width: 768px) {
  .story-image { /* SM以上 */
    width: 55%;
  }
}
@media (max-width: 767.98px) {
  .story-image { /* SM以下 */
    width: 100%;
  }
}
.story-image img { /* 品牌故事圖片 */
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}
@media (min-width: 1920.01px) {
  .story-image img { /* 螢幕寬度1920px以上 */
    width: 100%;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left center;
       object-position: left center;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .story-image img { /* XXL */
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left bottom;
       object-position: left bottom;
  }
}
.story-image > div { /* 文字區塊 */ }
@media (min-width: 1920.01px) {
  .story-image > div { /* 螢幕寬度1920px以上 */
    display: none;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .story-image > div { /* XXL */
    display: none;
  }
}
@media (max-width: 1399.98px) and (min-width: 768px) {
  .story-image > div { /* SM以上 */
    display: none;
  }
}
@media (max-width: 767.98px) {
  .story-image > div { /* SM以下 */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* 品牌故事描述 */
.story-description {
  height: 100%;
  float: left;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 60px;
}
@media (min-width: 1920.01px) {
  .story-description { /* 螢幕寬度1920px以上 */
    width: calc(45% - 80px);
    padding-left: 80px;
  }
}
@media (max-width: 1920px) and (min-width: 1400px) {
  .story-description { /* XXL */
    width: calc(50% - 80px);
    padding-left: 80px;
  }
}
@media (max-width: 767.98px) {
  .story-description { /* SM以下 */
    display: none;
  }
}
.story-description > div { /* 品牌故事文字區塊 */
  width: 100%;
}

/* 超連結底部裝飾線 */
a.link-border {
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 4.5px solid #000;
  margin-top: 60px;
}

/* 作品區塊 */
.collections {
  position: relative;
}
.collections img { /* 作品圖片 */ }
@media (min-width: 576px) {
  .collections img { /* XXL XL LG MD SM */
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .collections img { /* XS */
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    width: 100%;
    height: 330px;
  }
}
.collections span { /* 作品類型名稱 */ }
@media (min-width: 576px) {
  .collections span { /* XXL XL LG MD SM */
    position: absolute;
    left: 35px;
    bottom: 35px;
    font-weight: bold;
  }
}
@media (max-width: 575.98px) {
  .collections span { /* XS */
    position: absolute;
    left: 0px;
    bottom: 28px;
    font-weight: bold;
  }
}

/* 區域卷軸(不顯示) */
@media (min-width: 576px) {
  .collections-scroll { /* XXL XL LG MD SM */
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 575.98px) {
  .collections-scroll { /* XS 區域卷軸(超出即顯示) */
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.collections-scroll > .collections-area { /* 左側最大作品區塊 */ }
@media (min-width: 576px) {
  .collections-scroll > .collections-area > .collections { /* XXL XL LG MD SM */
    position: relative;
    height: 100%;
    width: 50%;
    margin-right: 30px;
    float: left;
  }
}
@media (max-width: 575.98px) {
  .collections-scroll > .collections-area > .collections { /* XS */
    position: relative;
    height: 100%;
    width: 350px;
    margin-right: 30px;
    float: left;
  }
}

/* 卷軸樣式-底 */
@media (max-width: 575.98px) {
  .collections-scroll::-webkit-scrollbar { /* XS */
    width: 5px;
    height: 10px;
    background-color: var(--webkit-scrollbar-color);
  }
}

/* 卷軸樣式-軸 */
@media (max-width: 575.98px) {
  .collections-scroll::-webkit-scrollbar-thumb { /* XS */
    background: var(--webkit-scrollbar-thumb-color);
  }
}

/* 作品區塊 */
@media (min-width: 576px) {
  .collections-area { /* XXL XL LG MD SM */
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .collections-area { /* XS */
    height: 400px;
    width: 1170px;
  }
}

/* 上下排列包覆容器 */
@media (min-width: 576px) {
  .vertical-wrapper { /* XXL XL LG MD SM */
    height: 100%;
    width: calc(50% - 30px);
    float: left;
  }
}
@media (max-width: 575.98px) {
  .vertical-wrapper { /* XS */
    height: 100%;
    width: auto;
    float: left;
  }
}
.vertical-wrapper > .collections { /* 作品區塊高度 */ }
@media (min-width: 576px) {
  .vertical-wrapper > .collections { /* XXL XL LG MD SM */
    height: calc(50% - 15px);
  }
}
@media (max-width: 575.98px) {
  .vertical-wrapper > .collections { /* XS */
    height: 100%;
    width: 380px;
    float: left;
  }
}
.vertical-wrapper > .collections:first-child { /* 第一個上下排列項目下外距 */ }
@media (min-width: 576px) {
  .vertical-wrapper > .collections:first-child { /* XXL XL LG MD SM */
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .vertical-wrapper > .collections:first-child { /* XS */
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

/* 頁尾區塊 */
.footer {
  padding: 0rem 0px 3rem 0px;
  display: flex;
  justify-content: center;
}
.footer hr { /* 水平線 */
  border-top: 4.5px solid #000;
  margin-bottom: 3rem;
}
.footer ul { /* 選單 */ }
@media (min-width: 992px) {
  .footer ul { /* MD以上 */
    list-style: none;
    padding-left: 0px;
    width: auto;
    float: left;
    margin-right: 200px;
  }
}
@media (max-width: 991.98px) {
  .footer ul { /* MD以下 */
    list-style: none;
    padding-left: 0px;
    width: auto;
    float: left;
    margin-right: 100px;
  }
}
.footer ul li { /* 選單項目 */
  margin: 10px 0px;
}
.footer ul li:first-child { /* 選單標題 */ }
.footer ul li:first-child h3 {
  margin-top: 0px;
}
.footer ul:last-child { /* 取消最後一個ul右外距 */
  margin-right: 0px;
}

/* 手機版頁尾 */
.footer-mobile {
  text-align: center;
}
.footer-mobile a { /* 超連結 */
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}

/* 電腦版頁尾 */
@media (min-width: 576px) {
  .footer-pc { /* XS以上 */
    display: block;
  }
}
@media (max-width: 575.98px) {
  .footer-pc { /* XS */
    display: none;
  }
}

/* 手機版頁尾 */
@media (min-width: 576px) {
  .footer-mobile { /* XS以上 */
    display: none;
  }
}
@media (max-width: 575.98px) {
  .footer-mobile { /* XS */
    display: block;
  }
}/*# sourceMappingURL=index.css.map */