@import 'common';

/* BODY */
body {
    overflow: hidden;
}

/* 網頁內容區塊 */
.content {
    width: 100vw;
    height: 100vh;
}

/* 商品圖片區塊 */
.product-img {
    width: 100%;
    height: 50vh;
    @media (min-width: $xl) {
        width: 58%;
        height: 100%;
        float: left;
    }
    @media (min-width: $lg) {
        width: 45%;
        height: 100%;
        float: left;
    }
    img {  /* 商品圖片 */
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* 商品介紹 */
.product-intro {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    padding: 30px 5% 30px 5%;
    @media (min-width: $xl) {
        width: 42%;
        height: 100%;
        padding: 120px 5% 120px 5%;
        float: left;
    }
    @media (min-width: $lg) {
        width: 55%;
        height: 100%;
        padding: 120px 5% 120px 5%;
        float: left;
    }
}

/* 購買商品區塊 */
.product-buy {
    @include fixedPosition(bottom, 50px, right, 0px);
    width: 100%;
    height: 50px;
    padding: 0px 5%;
    box-sizing: border-box;
    @media (min-width: $xl) {
        width: 42%;
    }
    @media (min-width: $lg) {
        width: 55%;
    }
}

/* 返回按鈕 */
.back-button {
    @include flex(start, center);
    @include fixedPosition(top, 15px, left, 15px);
    font-weight: bold;
    z-index: 15;
    img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}

/* 標題LOGO */
.topbar-logo > a {
    @media (max-width: $lg) {
        display: none;
    }
}

/* 手機版漢堡選單按鈕 */
.mobile-bars {
    @media (max-width: $lg) {
        display: none;
    }
}

/* 商品標題區塊 */
.product-title {
    margin-top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 4px solid #000;
    @media (min-width: 992px) {
        margin-top: 100px;
    }
}

/* 商品名稱 */
.product-name {
    font-size: 2.2rem;
    float: left;
    font-weight: bold;
    @media (max-width: $lg) {
        font-size: 1.6rem;
    }
}

/* 商品價格 */
.product-price {
    font-size: 1.8rem;
    float: right;
    margin-top: 5px;
    @media (max-width: $lg) {
        font-size: 1.5rem;
    }
}

/* 商品內容 */
.product-content {
    width: 100%;
    height: calc(55vh - 220px);
    @media (min-width: $lg) {
        width: 100%;
        height: calc(100vh - 460px);
    }
    ul.product-tab {  /* 商品頁籤 */
        @include flex(space-between);
        padding-left: 0px;
        li {
            margin: 20px 35px 20px 0px;
            text-align: left;
            list-style: none;
            float: left;
            white-space: nowrap;
            min-width: 70px;
            a.active {
                font-weight: bold;
            }
        }
    }
    .tab-content {  /* 商品頁籤內容 */
        overflow: auto;
        width: 100%;
        height: calc(100% - 100px);
        @media (max-width: $lg) {
            display: none !important;
        }
    }
    .tab-content-mobile {  /* 手機板商品介紹區塊 */
        padding-top: 20px;
        display: block;
        @media (min-width: 992px) {
            display: none;
        }
    }
    .tab-content.active {
        display: block;
    }
    .tab-content.disabled {
        display: none;
    }
}

/* 商品頁籤群組 */
.product-detail {
    width: 100%;
    height: 80px;
    @media (max-width: $lg) {
        display: none;
    }
}

/* 數量區塊 */
.cart-count {
    width: 50%;
    float: left;
    font-size: 1.2rem;
    padding-top: 5px;
    div {
        float: left;
    }
}

/* 加入購物車區塊 */
.cart-add {
    width: 50%;
    float: right;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 4px solid #000;
    padding: 10px 0px;
    a {  /* 加入購物車按鈕 */
        @media (min-width: $lg) {
            font-weight: bold;
            font-size: 1.5rem;
            border-bottom: 4px solid #000;
            padding: 10px 0px;
        }
    }
}

/* 新增/減少icon圖示 */
.plus-icon, .minus-icon {
    width: 30px;
    height: 30px;
}

/* 數字顯示 div */
.number-label {
    text-align: center;
    width: 55px;
}

/* 數字顯示 */
#number {
    font-size: 1.5rem;
    margin-top: -5px;
}

/* 提示區塊 */
#hint-panel {
    display: none;
}

/* 加入購物車提示底色 繼承 */
%hintBg {
    @include fixedPosition(top, 0px, left, 0px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

/* 加入購物車提示底色 */
.hint-bg {
    @extend %hintBg;
    animation: .2s ease 0s normal forwards 1 fadeout;
}

/* 加入購物車提示底色.active */
.hint-bg.active {
    @extend %hintBg;
    animation: .2s ease 0s normal forwards 1 fadein;
}

/* 購物車提示 繼承 */
%cartHint {
    background-color: #F2F2F2;
    min-height: 250px;
    z-index: 25;
    padding: 20px;
    box-sizing: border-box;
}

/* 購物車提示 */
.cart-hint {
    @include fixedPosition(top, -255px, left, 0px);
    @extend %cartHint;
    width: 100%;
    animation: .2.5s ease-in-out 0s normal forwards 1 hidehint;
    @media (min-width: $lg) {
        @include fixedPosition(top, -255px, left, calc((100vw - 500px) / 2));
        width: 500px;
    }
}

/* 購物車提示.active */
.cart-hint.active {
    @include fixedPosition(top, 0px, left, 0px);
    @extend %cartHint;
    width: 100%;
    animation: .2.5s ease-in 0s normal forwards 1 showhint;
    @media (min-width: $lg) {
        @include fixedPosition(top, -255px, left, calc((100vw - 500px) / 2));
        width: 500px;
    }
}

/* 提示標題 */
.cart-hint-title { 
    > .hint-text {  /* 提示標題 */
        float: left;
        > span {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 30px;
            font-weight: bold;
            > img {
                height: 25px;
                margin-right: 15px;
            }
        }
    }
    > .hint-times {  /* 提示標題關閉按鈕 */
        float: right;
    }
}

/* 商品項目 */
.cart-hint-item {
    margin-top: 60px;
    width: 100%;
    height: 100px;
}

/* 商品圖片 */
.cart-hint-img {
    float: left;
    width: 80px;
    height: 80px;
    > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* 商品資訊 */
.cart-hint-info {
    float: left;
    width: calc(100% - 80px);
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    .item-name {
        font-weight: bold;
    }
    .item-price {
        margin-top: 5px;
    }
}

/* 查看購物車 */
.cart-hint-view {
    width: 100%;
    text-align: right;
    a {  /* 超連結 */
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 3px solid #000;
        padding: 0px 0px 15px 0px;
    }
}

/* 購物車提示出現 */
@keyframes showhint{
    0% { top: -255px; }
    100% { top: 0px; }
}

/* 購物車提示出現 */
@-webkit-keyframes showhint{
    0% { top: -255px; }
    100% { top: 0px; }
}

/* 購物車提示消失 */
@keyframes hidehint{
    0% { top: 0px; }
    100% { top: -255px; }
}

/* 購物車提示消失 */
@-webkit-keyframes hidehint{
    0% { top: 0px; }
    100% { top: -255px; }
}